/* ---------------------------
  Muuri https://github.com/haltu/muuri
----------------------------- */
.grid {
  position: relative;
  width: 100%;
}

/* ------- customized -------- */
.item {
  display: block;
  position: absolute;
  width: 33.3333%;
  height: fit-content;
  padding: 8px;
  z-index: 1;
  min-height: 150px;
}
@media screen and (max-width: 860px) {
  .item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .item {
    width: 100%;
  }
}

/* ------- //customized -------- */

.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
